@import-normalize;

body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: 18px;
}

.App {
  text-align: center;
}

.roll-button {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  animation: button-gradient 25s ease infinite;
  background-color: #339999;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  width: 150px;
}

.roll-button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.resultDice {
  display: flex;
  justify-content: flex-start;
}
.singleDice + .singleDice {
  margin-left: 1em;
}
.dice-amount {
  all: unset;
  font-size: 18px;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: #339999;
}

.dice-amount:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button {
  all: unset;
}
select {
  font-size: 16px;
}
